/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */

.highlight .lineno { display:inline-block; padding: 0 5px; }
.highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }

/*.post > .highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }*/
/*.post > .highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }*/
